
<div class="Currency">
  <div class="Currency-title">
    Текущий курс к рублю
  </div>
  <div class="Currency-values">
    <div class="Currency-from">
      1 EUR равно
    </div>
    <div class="Currency-to">
      {{ currency$ | async }} Российский рубль
    </div>
  </div>
  <div></div>
</div>