.Currency {
    width: 100%;
    font-family: sans-serif;
    padding-top: 30px;

    &-title {
        font-size: 28px;
        color: black;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    &-values {
        margin: auto;
        border-radius: 8px;
        border: 1px solid #dfe1e5;
        padding: 20px;
        width: fit-content;
    }

    &-from {
        color: #70757a;
        font-size: 16px;
        margin-bottom: 5px;
    }

    &-to {
        color: #212121;
        font-size: 36px;
    }
}